@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

h1 {
    margin: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    width: 100px;
}

.container {
    width: 1200px;
    /* display: flex; */
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
}

.logo > img {
    width: 100px;
}

.menu-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.menu-links > li > a {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-left {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-left > p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-right {
    margin-left: auto;
}

.about-heroes-wrapper {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.about-heroes-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 40px;
}

.heroes-info {
    display: flex;
    justify-content: center;
    gap: 50px;    
}

.hero-info {
    text-align: center;
}

.hero-info > img {
    width: 200px;
    border-radius: 8px;
    padding: 5px;
    background: linear-gradient(45deg, #0575E6, #021B79);
}