@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

h1 {
    margin: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    width: 100px;
}

p {
    margin: 0;
}

.container {
    width: 1200px;
    /* display: flex; */
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
}

.logo > img {
    width: 100px;
}

.menu-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.menu-links > li > a {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-left {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-left > p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-right {
    margin-left: auto;
}

.about-heroes-wrapper {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.about-heroes-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 40px;
}

.heroes-info {
    display: flex;
    justify-content: center;
    gap: 50px;    
}

.hero-info {
    text-align: center;
}

.hero-info > img {
    width: 200px;
    border-radius: 8px;
    padding: 5px;
    background: linear-gradient(45deg, #0575E6, #021B79);
}

.quote-wrapper {
    background-color: #e5e7eb;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quote-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 900px;
    margin: auto;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    margin-left: auto;
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
}

.about-heroes-wrapper {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.action-wrapper {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.action-box {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    padding: 40px 140px;
    margin: auto;
    border-radius: 8px;
}

.action-title {
    color: #e5e7eb;
    font-size: 24px;
}

.action-text {
    color: #e5e7eb;
    font-size: 18px;
}

.action-right {
    margin-left: auto;
}

.action-button {
    border: #e5e7eb solid 1px;
    width: 150px;
}