@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
}

.logo > img {
    width: 100px;
}

.menu-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.menu-links > li > a {
    color: #e5e7eb;
    font-size: 18px;
}